{% extends "base.html" %} 
{% load static %}

{% block pagetitle %} Home {% endblock pagetitle %} 

{%block cssfiles %}
    <link rel="stylesheet" href="{% static "weekdays/home.css" %}">
{% endblock cssfiles %} 
{% block content %} {% include "include.html" %}
<ul>
  <!-- <li><a href="sunday">Sunday</li>
        <li><a href="monday">Monday</li>
        <li><a href="tuesday">Tuesday</li>
        <li><a href="wednesday">Wednesday</li>
        <li><a href="thursday">Thursday</li>
        <li><a href="friday">Friday</li>
        <li><a href="saturday">Saturday</li> -->

  {% for i in col %}
  <li><a href="{% url 'week:home' i  %}">{{i|title}}</a></li>

  {% endfor %}
</ul>
{% endblock content %}
